<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CAS System{% endblock %}</title>
    
</head>
<body>
    <!-- ✅ Header -->
    <header>
        <h1>Wel-Come To EduTech Programme</h1>
        
        <hr>
    </header>

    <!-- ✅ Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- ✅ Footer -->
    <footer>
        <hr>
        <p>&copy; 2026 EduTech | Developed & Supported by  <a href="http://www.edutech.com.np" target="_blank">EduTech</a> | E-mail: <a href="mailto:info@edutech.com.np"> info@edutech.com.np</a></p>
    </footer>
</body>
</html>
