{% load custom_filters %}
<h2>Report Card - {{ subject.name }} ({{ term.name }})</h2>

<table border="1">
  <tr>
    <th>Student</th>
    <th>Viva/Project</th>
    <th>Project</th>
    <th>CW?HW</th>
    <th>MCQs</th>
    <th>Classwork</th>
    <th>Total</th>
  </tr>
  {% for student in students %}

  {% with a=assessment_map|get_item:student.id %}

  <tr>
    <td>{{ student.name }}</td>

    <td>{% if a %}{{ a.viva }}{% else %}0{% endif %}</td>
    <td>{% if a %}{{ a.project }}{% else %}0{% endif %}</td>
    <td>{% if a %}{{ a.homework }}{% else %}0{% endif %}</td>
    <td>{% if a %}{{ a.mcqs }}{% else %}0{% endif %}</td>
    <td>{% if a %}{{ a.classwork }}{% else %}0{% endif %}</td>
    <td>{% if a %}{{ a.total }}{% else %}0{% endif %}</td>

  </tr>

  {% endwith %}

  {% endfor %}
</table>